/* Banner.module.css */

.bannerContainer {
    overflow: hidden;
}

.bannerImage {
    transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}

.imageTransition {
    transition: opacity 0.5s ease-in-out; /* Add a smooth transition effect */
}
